<div class="table-container">
  <table mat-table [dataSource]="Processes" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let process">
        {{ process.Id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let process">
        {{ process.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Memory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory</th>
      <td mat-cell *matCellDef="let process">
        {{ process.Memory | filesize }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button [disabled]="IsBusy" (click)="GetProcesses()">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-rotate-right"></mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let process">
        <button
          mat-icon-button
          [disabled]="IsBusy"
          (click)="KillProcess(process.Id)"
        >
          <mat-icon fontSet="fa" fontIcon="fa-skull"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="Columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let instance; columns: Columns"></tr>
  </table>
</div>
