table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
  font-size: small;
  margin-left: 2em;
}

button {
  margin-left: 1em;
}

.mat-icon-cell {
  transform: scale(1.25);
  overflow: inherit;
  margin-right: 0;
}

.mat-column-Actions,
.mat-column-Size {
  text-align: right;
}

.mat-mdc-footer-cell {
  font-style: italic;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #efefef;
}
