<mat-toolbar color="primary">
  <mat-icon fontSet="fa" fontIcon="fa-folder-tree"></mat-icon>
  <span style="margin-left: 0.25em">File Manager</span>
  <span class="spacer">
    {{ Entry?.Path ?? PATH_SEPARATOR }}
  </span>
  <button
    mat-icon-button
    [disabled]="IsBusy || !Entry || !Entry.Path"
    (click)="GetParentEntry()"
  >
    <mat-icon fontSet="fa" fontIcon="fa-arrow-up"></mat-icon>
  </button>
  <button mat-icon-button [disabled]="IsBusy" (click)="CreateEntry()">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <button mat-icon-button [disabled]="IsBusy" (click)="GetEntries(Entry)">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-rotate-right"></mat-icon>
  </button>
</mat-toolbar>

<table mat-table [dataSource]="Entries" matSort>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let entry" (click)="GetEntries(entry)">
      <mat-icon
        class="mat-icon-cell"
        fontSet="far"
        [fontIcon]="entry.IsDirectory ? 'fa-folder' : 'fa-file'"
      ></mat-icon>
      {{ entry.Name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
    <td mat-cell *matCellDef="let entry">
      {{ entry.Created | date: "M/d/yyyy h:mm a" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Modified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
    <td mat-cell *matCellDef="let entry">
      {{ entry.Modified | date: "M/d/yyyy h:mm a" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let entry">
      {{ entry.IsDirectory ? "Directory" : "File" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
    <td mat-cell *matCellDef="let entry">
      {{ entry.IsDirectory ? "" : (entry.Size | filesize) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let entry">
      <button
        mat-icon-button
        [disabled]="IsBusy"
        (click)="DownloadFile(entry)"
        *ngIf="!entry?.IsDirectory"
      >
        <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
      </button>
      <button mat-icon-button [disabled]="IsBusy" (click)="RenameEntry(entry)">
        <mat-icon fontSet="fa" fontIcon="fa-pen-to-square"></mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        [disabled]="IsBusy"
        (click)="DeleteEntry(entry)"
      >
        <mat-icon fontSet="fa" fontIcon="fa-trash-can"></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Footer">
    <td mat-footer-cell *matFooterCellDef colspan="7">
      {{ Entries.length }} item{{ Entries.length != 1 ? "s" : "" }} |
      {{ DirectoryCount }}
      {{ DirectoryCount == 1 ? "directory" : "directories" }} and
      {{ FileCount }} file{{ FileCount != 1 ? "s" : "" }}.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let instance; columns: Columns"></tr>

  <tr mat-footer-row *matFooterRowDef="['Footer']"></tr>
</table>
