<h1 mat-dialog-title>Create New Blog</h1>
<div mat-dialog-content>
  <p>Enter name of the new WordPress blog you want to be created.</p>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Instance Name</mat-label>
    <input
      matInput
      [(ngModel)]="InstanceName"
      cdkFocusInitial
      [disabled]="IsBusy"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="IsBusy">Cancel</button>
  <button
    mat-button
    (click)="CreateInstance()"
    [disabled]="IsBusy || InstanceName == ''"
  >
    Create
  </button>
</div>
