<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-toolbar color="primary">
        <mat-icon fontSet="fa" fontIcon="fa-gauge-high"></mat-icon>
        <span style="margin-left: 0.25em">Server Monitor</span>
        <span class="spacer"> </span>
      </mat-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card appearance="outlined" style="margin: 1em" class="scrollable-content">
        <mat-card-title>
          <mat-icon fontSet="fa" fontIcon="fa-microchip" style="overflow: unset;"></mat-icon>
          Processes
        </mat-card-title>
        <mat-card-subtitle>
          There
          {{
            ProcessCount == 1
              ? "is 1 process"
              : "are " + ProcessCount + " processes"
          }}
          running on the server. Click on the skull icon to kill a process.
        </mat-card-subtitle>
        <mat-card-content>
          <app-monitor-processes
            (OnGetProcesses)="ProcessCount = $event"
          ></app-monitor-processes>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
